/*LOADING SCREEN:*/

.mainpage{
	opacity: 0;
	transition: opacity 1s ease-in;
}

.loadpage{
	opacity: 1;
	display: block flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.square-container{
	display: flex;
}

.square-container > div:nth-child(2){
	animation-delay: 0.2s
}
.square-container > div:nth-child(3){
	animation-delay: 0.3s

}

.square{
	width: 0;
	height: 0;
	background-color: white;
	margin: 1em;
	border-top: 2em solid #795C34; /*Peanut*/
	border-bottom: 2em solid #4A2511; /*Pecan*/
	border-left: 2em solid #65350F; /*Caramel*/
	border-right: 2em solid #652A0E; /*Cinnamon*/
	animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
	to{
		transform: translate3d(0, -20px, 0);
	}
}
/*****************/




h1 {
	text-align: center;
	text-transform: uppercase;
	border: 5px solid black;
	margin: 5px;
	color: white;
}

body {
	background-color: #9A7B4F;

}

label {
	text-transform: uppercase;
	margin-left: 5px;
	letter-spacing: 1px;
	font-size: 1.3em;
	margin-bottom: 5px;
}

h5 {
	margin-left:5px;
	margin-bottom: 10px;
	color: white; 
}

/*Mobile CSS properties*/
@media (max-width: 500px){
	label{
		font-size: 5vw;
	}
	p{
		font-size: 4vw;
	}
	
	.colcontainer{
		display: grid;
	}
	.rowcontainer{
		display: grid;
	}
	
	#map{
		float:right;
		width: 100%;
	}
	
	#options_help_text {
		font-size: 0.8em;
	}
	
}

.colcontainer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.rowcontainer {
	display: grid;
	
}

#temp_info{
	text-align:center;
	font-weight:bold;
}

#temp_image{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:25%;
	height:25%
}

#temp_stats{
	font-weight: bold;
	text-align:center;
}
#temp_stats_two{
	font-weight: bold;
	text-align:center;
}

#options_help_text {
	margin-left: 5px;
}

#dynasty {
	margin-bottom:5;
}
#pharaoh {
	margin-bottom:5;
}

#info{
	float:right;
	height: 500px;
	border: 10px solid black;
	margin-right:5px;
	margin-top: 5px;
	background:white;
}
#map{ 	
	float: left;
	height: 675px;
	border: 10px solid black;
	margin: 5px;
	
}
 
#interact{
 	float:right;
 	height: 150px;
 	border: 10px solid black;
 	background:white;
 	margin-top: 5px;
 	margin-right: 5px;
 }
