h1 {
	text-align: center;
	border: 5px solid black;
	margin: 5px;
	color: white;
}

body {
	background-color: blue;

}

#info{
	float:right;
	width:55%;
	height:200px;
	border: 10px solid black;
	background:white;
}
#map{ 
	float:left;
	width:40%;
	height: 675px;
	border: 10px solid black;
	margin: 5px;
 }
