h1 {
	text-align: center;
	text-transform: uppercase;
	border: 5px solid black;
	margin: 5px;
	color: white;
}

body {
	background-color: #0492c2;

}

label {
	text-transform: uppercase;
	margin-left: 15px;
	margin-top: 10px;
	letter-spacing: 1px;
	font-size: 25px;
}

#options_help_text {
	font-size: 15px;
	margin-left: 16px;
}

#dynasty {
	margin: 10px;
}
#pharaoh {
	margin: 10px;
}

#info{
	float:right;
	width:55%;
	height: 500px;
	border: 10px solid black;
	margin-right:5px;
	margin-top: 5px;
	background:white;
}
#map{ 
	float:left;
	width:40%;
	height: 675px;
	border: 10px solid black;
	margin: 5px;
}
 
#interact{
 	float:left;
 	width: 55%;
 	height: 150px;
 	border: 10px solid black;
 	background:white;
 	margin-top: 5px;
 	margin-left: 13px;
 }
